* {
  margin: 0;
  padding: 0;
}

body {
  margin: 100px;
}
.banner {
  margin: 0 auto;
  max-width: 750px;
  background-position: center;
  background-image: url("../img/search.jpeg");
  background-repeat: no-repeat;
  height: 150px;
}
.main-container {
  margin: 0 auto;
  max-width: 750px;
}
.nav {
  padding-top: 20px;
  text-align: center;
}
.nav li {
  display: inline-block;
  padding: 10px;
  background-color: black;
  color: white;
}
.about {
  margin: 20px 0px;
  text-align: justify;
}
.about h2 {
  text-align: center;
  font-style: italic;
  font-weight: bold;
}
.column {
  border: solid black 5px;
  height: 420px;
}
.profile {
  float: left;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  margin-left: 50px;
  margin-top: 20px;
  padding: 10px;
}

.profile li {
  margin-left: 25px;
}

.sad {
  width: 275px;
}

h2 {
  padding-left: 10px;
  padding-bottom: 5px;
}

.footer {
  float: left;
}

 #left, #right {
	background: #FF5D19;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 200px;
		}
		#left { left: 0; }
		#right { right: 0; }

@media screen and (max-width: 1200px) {
  #left, #right {
    top: 0; bottom: 0;
    width: 0px;
  }
}
