.banner {
  margin: 0 auto;
  max-width: 750px;
  background-position: center;
  background-image: url("../img/search.jpeg");
  background-repeat: no-repeat;
  height: 150px;
}
.main-container {
  margin: 0 auto;
  max-width: 750px;
}
.column {
  border: solid black 5px;
  height: 420px;
}
.profile {
  float: left;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  margin-left: 50px;
  padding: 10px;
}

.sad {
  width: 275px;
}

h2 {
  padding-left: 10px;
}
